* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white-text: #f4f8fb;
	--gray-text: #cdd6de;

	--blue-color: #7cdaff;
	--scale-m-text: scale(1, 1.3);
	--letter-spacing: 0.15rem;
}

body {
	background-color: rgb(42, 42, 42);
	color: var(--white-text);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	filter: drop-shadow(1px 1px 1.5px rgba(0, 0, 0, 0.8));
}

/*------------- HEADER -------------------*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 7dvh;
	font-size: 1.5rem;
	color: var(--gray-text);
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 3rem;
}

#logo img {
	width: 40px;
	height: 40px;
	margin-right: 0.7rem;
}

header h2 {
	position: relative;
	margin-right: 15rem;
	font-size: 2rem;
	cursor: pointer;
	transition: color 0.3s ease;
	letter-spacing: var(--letter-spacing);
	transform: var(--scale-m-text);
}

header h2:hover {
	color: var(--blue-color);
}

header h2::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.2rem;
	width: 0;
	height: 0.2rem;
	background-color: var(--blue-color);
	transition: width 0.3s ease-in-out;
}

header h2:hover::after {
	width: 100%;
}

/*------------- MAIN -------------------*/

main {
	margin-left: 15rem;
	display: flex;
}

.character-text {
	width: 46rem;
	border: #7cdaff00 2px solid;
}

.character-text h3 {
	font-size: 12rem;
	margin-left: -1rem;
}

.classification {
	font-size: 2rem;
	color: var(--blue-color);
	letter-spacing: var(--letter-spacing);
	transform: var(--scale-m-text);
	margin-bottom: 2rem;
	margin-top: -1.5rem;
	text-shadow: 0 0 3px rgba(0, 255, 255, 1), 0 0 3px rgba(237, 36, 255, 0.7);
}

.description {
	font-size: 1.6rem;
	color: var(--gray-text);
}

.white-line {
	width: 46rem;
	height: 0.2rem;
	background-color: var(--white-text);
	margin: 5rem auto;
}

.stats {
	font-size: 1.7rem;
	letter-spacing: var(--letter-spacing);
}

.stat-name {
	width: 15rem;
}

.stat-row {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.stat-track {
	width: 20rem;
	height: 0.4rem;
	background-color: #888888;
	border-radius: 0.1drem;
	overflow: hidden;
	box-shadow: 0 0 7px rgba(0, 255, 255, 1), 0 0 7px rgba(237, 36, 255, 0.7);
}

.stat-fill {
	height: 100%;
	background-color: rgb(146, 237, 251);
	transition: width 1s ease-in-out;
}

.character-img-div {
	margin-left: 6rem;
	margin-top: 6rem;
}

.character-img {
	width: 38rem;
	object-fit: cover;
	filter: saturate(0.9);
	animation: bounce-effect 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
		alternate;
	cursor: pointer;
}

.character-img.is-paused {
	animation-play-state: paused !important;
}

@keyframes bounce-effect {
	0% {
		transform: translateX(0) translateY(0) scaleY(1);
	}
	10% {
		transform: translateX(0) translateY(0) scaleY(0.9);
	}
	50% {
		transform: translateX(5rem) translateY(-10rem) scaleY(1.1);
	}
	90% {
		transform: translateX(9rem) translateY(6rem) scaleY(1);
	}
	100% {
		transform: translateX(10rem) translateY(10rem) scaleY(0.85);
	}
}
